<template>
    <div class="row">
        <div class="col-md-6">
            <div class="calculator">
                <div class="number_btn" v-for="num in calculator_numbers" @click="clickNumber(num)">
                    {{ num }}
                </div>
                <div class="number_btn" v-for="method in calculator_methods" @click="clickNumber(method)">
                    {{ method }}
                </div>
            </div>
            <button class="btn btn-outline-info mt-3" @click="calculate = []" :disabled="!calculate.length">Clear</button>
        </div>
        <div class="col-md-6">
            <div class="logs">
                <ul>
                    <li v-show="calculate.length">{{ calculate.join('') }}</li>
                    <li v-for="history in histories" v-if="histories.length">
                        {{ history.text }} = {{ history.total}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Calculator',
        props: {
            source: {
                type: String,
                required: true
            },
            action: {
                type: String,
                required: true
            }
        },
        created() {
            window.addEventListener("keypress", (e) => {
                if (e.key >= 0 && e.key <= 9)
                    this.clickNumber(parseInt(e.key));
                else if (e.key === '=' || e.key === '+' || e.key === '/' || e.key === '*' || e.key === '-' || e.key === 'Enter' || e.key === '.')
                    this.clickNumber(e.key);
            });
        },
        data() {
            return {
                calculator_numbers: [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    0
                ],
                calculator_methods: [
                    '.',
                    '=',
                    '+',
                    '-',
                    '*',
                    '/'
                ],
                calculate: [],
                histories: [],
            }
        },
        mounted() {
            this.getLogs()
        },
        methods: {
            getLogs() {
                axios.get(this.source).then((response) => {
                    this.histories = response.data
                }).catch((error) => {
                    console.log(error)
                })
            },
            clickNumber(number) {
                if (number !== '=' && number !== 'Enter') {
                    if (_.isNumber(number)) {
                        if (_.isNumber(this.calculate[this.calculate.length - 1])) {
                            let oldVal = this.calculate[this.calculate.length - 1];
                            this.calculate.splice(this.calculate.length - 1, 1);
                            this.calculate.push(parseFloat(oldVal += number.toString()));
                        } else
                            this.calculate.push(parseFloat(number));
                    } else {
                        if (_.isNumber(this.calculate[this.calculate.length - 1]))
                            this.calculate.push(number);
                    }
                } else {
                    axios.post(this.action, {calculate: this.calculate.join('')}).then((response) => {
                        this.calculate = [];
                        this.histories.unshift(response.data.histories);
                    }).catch((error) => {
                        console.log(error)
                    });
                }
            },
        }
    }
</script>

<style lang="stylus" scoped>
    .calculator
        display flex
        flex-wrap wrap
        justify-content center

    .number_btn
        display flex
        align-items center
        justify-content center
        border 1px solid #ccc
        width calc(100% / 3)
        height 50px
        cursor pointer

        &:hover
            background-color #ededed

    .logs
        max-height 300px
        overflow auto
</style>
